pyrogram==1.4.16
gunicorn
TgCrypto
umongo
dnspython
heroku3
telethon
telethon.sync
TelegramClient
sleep
telethon.errors.rpcerrorlist
MessageTooLongError
PeerIdInvalidError
dbm
python_socks
socks
async_timeout
python_socks
pysocks
socks
pip3
render
