--upgrade pip
pip
pyrogram==1.4.16
TgCrypto
umongo
dnspython
heroku3
python==3.11.2
telethon
telethon.sync
TelegramClient
sleep
telethon.errors.rpcerrorlist
MessageTooLongError
PeerIdInvalidError
dbm
python_socks
socks
async_timeout
python_socks
pysocks
socks
gunicorn
